/* App-wide styling */

svg {
    shape-rendering: geometricPrecision;
}

button {
    -webkit-tap-highlight-color: transparent;
}

input[type="checkbox"] {
    appearance: none;
    margin: 0;
    border: var(--fg-dark) 0.15em solid;
    border-radius: 0.15em;
    width: 1.15em;
    height: 1.15em;

    display: grid;
    place-content: center;
    transition:
        background-color 70ms,
        border-color 70ms;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.7em;
    height: 0.7em;
    transform: scale(0) rotate(-90deg);
    transition: 70ms all ease-in-out;
    box-shadow: inset 1em 1em var(--accent-fg);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked {
    border-color: var(--accent);
    background-color: var(--accent);
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    outline: 0;
    --thumb-size: 1.3em;
    --track-height: 0.3em;
}
@supports (-webkit-appearance: none) {
    input[type="range"] {
        overflow-x: hidden;
        outline: 0;
        height: calc(var(--thumb-size));
    }
}
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
    appearance: none;
    -webkit-appearance: none;
    background: var(--bg-light);
    height: var(--track-height);
    border-radius: var(--track-height);
    min-width: 0;
}
input[type="range"]::-moz-range-progress {
    appearance: none;
    background: var(--accent);
    height: var(--track-height);
    border-radius: var(--track-height);
}
input[type="range"]::-moz-range-thumb {
    appearance: none;
    background: var(--accent) !important;
    border: none;
    border-color: transparent;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 2em;
    outline: rgba(255, 255, 255, 0.3) 0px solid;
    transition: 0.05s outline-width;
}
input[type="range"]::-moz-range-thumb:hover {
    outline-width: 0.4em;
}

input[type="range"]::-webkit-slider-runnable-track {
    appearance: none;
    -webkit-appearance: none;
    background: var(--bg-light);
    height: var(--track-height);
    border-radius: var(--track-height);
}
input[type="range"]::-webkit-slider-thumb {
    margin-top: calc(0em - 0.385 * var(--thumb-size));
    appearance: none;
    background: var(--accent);
    border: none;
    border-color: transparent;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 2em;
}
input[type="range"]::-webkit-slider-thumb {
    box-shadow: calc(-100vmax + 0.7px - var(--thumb-size)) 0 0 100vmax
        var(--accent);
    --above: calc(50% + var(--track-height) / 2);
    --below: calc(50% - var(--track-height) / 2);
    clip-path: polygon(
        -100vmax var(--above),
        calc(0% + 0px) var(--above),
        calc(0% + 2px) 100%,
        100% 100%,
        100% 0%,
        calc(0% + 2px) 0%,
        calc(0% + 0px) var(--below),
        -100vmax var(--below)
    );
}

input[type="text"] {
    background: var(--bg-light);
    outline: 0;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    color: var(--fg);
    font-weight: bold;
}

input[type="text"]::placeholder {
    color: var(--fg-dark);
}

body {
    background-color: #ffffff;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    --fg: #fafafa;
    --bg: #000000;
    --bg-light: #121212;
    --fg-dark: #a6acbd;
    --accent: #f58742;
    --accent-fg: black;

    /*
    --fg: #fafafa;
    --bg: #181a1f;
    --bg-light: #2a2c33;
    --fg-dark: #a6acbd;
    --accent: #ffce1b;
    --accent-fg: black;
    */

    margin: 0;
    box-sizing: border-box;
    background: var(--bg);
    height: 100vh;

    display: flex;
    flex-direction: column;
}

#main {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

#app {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rate-again {
    --rating-color: #db3939;
}
.rate-hard {
    --rating-color: #f2a50a;
}
.rate-good {
    --rating-color: #66b53f;
}
.rate-easy {
    --rating-color: #2c73e6;
}

/* DECK */

.deck {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    flex-grow: 2;
    align-self: stretch;
    padding: 0.5em;
    gap: 1em;
}

.deck .card {
    background: white;
    border-radius: 1.5em;
    padding: 1em;
    box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.3);
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deck .controls {
    height: 3em;
    display: flex;
    gap: 0.5em;
}

.deck .controls button {
    flex-grow: 1;
    border-radius: 0.5em;
    border: none;
    color: var(--fg);
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

.deck .controls button:hover {
    filter: brightness(120%);
}

.deck .controls .reveal {
    background-color: var(--bg-light);
}

.deck .controls button.reveal:hover {
    filter: brightness(140%);
}

.deck .controls .rate-again,
.deck .controls .rate-hard,
.deck .controls .rate-good,
.deck .controls .rate-easy {
    font-size: 1.2em;
    background-color: var(--rating-color);
}

/* HOME */

.home {
    padding: 1.5em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.home button {
    border: none;
    border-radius: 1em;
    display: flex;
    align-items: center;
    background-color: var(--bg-light);
    color: var(--fg);
    gap: 5vmin;
    justify-content: center;
    cursor: pointer;
    height: 40vmin;
}

.home .study {
    grid-area: 1 / 1 / 2 / -1;
}

.home button:hover {
    filter: brightness(110%);
}

.home .study svg {
    width: 17vmin;
    height: 17vmin;
}

.home .study span {
    font-size: 12vmin;
    font-weight: bold;
}

.home .stats svg {
    width: 15vmin;
    height: 15vmin;
}

.home .settings svg {
    width: 20vmin;
    height: 20vmin;
}

/* BAR */

.bar {
    height: 3rem;
    background-color: var(--bg-light);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Agbalumo";

    display: grid;
    grid-template-columns: 3rem auto 3rem;
    grid-template-rows: auto;
    grid-template-areas: "back title info";
}

.bar span {
    justify-self: center;
    align-self: center;
    grid-area: title;
}

.bar .back {
    align-self: center;
    border: none;
    background: none;
    border-radius: 100%;
    color: var(--fg);
    justify-self: end;
    cursor: pointer;
    grid-area: back;
}

.bar .back svg {
    width: 1.7em;
    height: 1.7em;
}

/* RESULTS */

.results {
    display: grid;
    flex-grow: 2;
    gap: 1em;
    padding: 0.5em;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 4em;
    grid-template-areas:
        "label-sum sum"
        "score label-score"
        "finish finish";
}

.results .label {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.results .label-summary {
    grid-area: label-sum;
}
.results .label-score {
    grid-area: label-score;
}
.results .finish {
    grid-area: finish;
}

.results .summary {
    grid-area: sum;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-self: stretch;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    gap: 0em 0.7em;
    background-color: var(--bg-light);
    border-radius: 1em;
    padding: 1em;
}

.results .summary .label {
    font-size: 1rem;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fg-dark);
}

.results .summary .bar {
    height: 0.2em;
    justify-self: self-start;
    min-width: 0.2em;
    border-radius: 0.4em;
    background-color: var(--rating-color);
}

.results .summary .total {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    color: var(--fg-dark);
}

.results .summary .count {
    font-weight: bold;
}

.results .score {
    grid-area: score;
    font-size: 30vmin;
    justify-self: stretch;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: "League Gothic";
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: 1rem;
}

.results .finish {
    border: none;
    border-radius: 1rem;
    background-color: var(--accent);
    color: var(--accent-fg);
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
}

.results .finish:hover {
    filter: brightness(94%);
}

/* SELECTION */

.selection {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    flex-grow: 2;
}

.selection .header {
    display: flex;
    align-self: stretch;
    align-items: center;
    height: 1em;
    margin-bottom: 0.5em;
    gap: 0.2em;
    padding: 0.5em;
    padding-bottom: 0;
}

.selection .header .spacer {
    flex-grow: 3;
}

.selection .header .count {
    color: var(--fg-dark);
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 0.4em;
}

.selection .header button {
    flex-grow: 0;
    background: none;
    border: none;
    color: var(--fg-dark);
    cursor: pointer;
    border-radius: 0.2em;
    padding: 0.1em 0.4em;
}

.selection .header button:hover {
    background-color: var(--bg-light);
}

.selection .header svg {
    width: 0.8em;
    height: 0.8em;
    color: var(--fg-dark);
}

.selection .placeholder {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4em;
}

.selection .items {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    overflow-y: scroll;
    max-height: calc(100vh - 11.5em);
}

.selection .items .item {
    display: flex;
    height: 2em;
    align-items: center;
}

.selection .items .item:hover {
    background-color: var(--bg-light);
}

.selection .items .tag .clickable {
    flex-grow: 2;
    padding-left: 0.5em;
    display: flex;
    gap: 0.5em;
    height: 2em;
    align-items: center;
    cursor: pointer;
}

.selection .items .tag .clickable svg {
    margin-top: -0.1em;
}

.selection .items .tag .check {
    margin-right: 1em;
}

.selection .items .card {
    padding-left: 0.5em;
    gap: 0.5em;
    cursor: pointer;
}

.selection .items .card svg {
    color: var(--accent);
}

.selection .items .card .name {
    flex-grow: 2;
}

.selection .items .card .check {
    margin-right: 1em;
}

.selection .footer {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    box-shadow: 0 -0.6em 0.2em var(--bg);
    display: flex;
    gap: 1em;
}

.selection .footer button {
    height: 3.6rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    background-color: var(--accent);
    color: black;
    cursor: pointer;
    transition: background 0.2s;
}

.selection .footer .go {
    margin-right: 1rem;
    margin-left: 1rem;
    flex-grow: 2;
    font-size: 2em;
}

.selection .footer .go.locked:hover,
.selection .footer .go.locked {
    background: var(--fg-dark);
    filter: initial;
    cursor: inherit;
}

.selection .footer .go:hover {
    filter: brightness(94%);
}

/* SETTINGS */

.settings {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 1em;
    gap: 1em;
}

.settings .item {
    display: grid;
    grid-template-areas: "icon label setting";
    grid-template-columns: 1.5em 1fr 1.5fr;
    align-items: center;
    gap: 0.5em;
}

.settings .item svg {
    color: var(--accent);
    grid-area: icon;
}

.settings .item .input {
    grid-area: setting;
    display: flex;
    gap: 0.5em;
}

.settings .item .input * {
    flex-grow: 1;
}

.settings .item .input .extra {
    flex-grow: 0;
}

.settings .item .label {
    grid-area: label;
    font-weight: bold;
}

.settings .item .extra {
    grid-area: extra;
    font-weight: bold;
}

.settings .item .input button {
    background: var(--accent);
    border: none;
    outline: 0;
    color: var(--accent-fg);
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

.settings .item button:hover {
    filter: brightness(130%);
}

/* ERROR */

.error {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.error .ui .close {
    font-size: 1.4em;
    border: none;
    outline: 0;
    background-color: var(--bg-light);
    color: var(--fg);
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.error svg {
    width: 30vmin;
    height: 30vmin;
    color: var(--accent);
}

.error .label {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.error .debug {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
    padding: 1em;
    border-radius: 0.5em;
    width: calc(100% - 2em);
}

.error .debug summary {
    font-weight: bold;
    color: var(--fg-dark);
}

.error .debug .more {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    background: var(--bg);
    border-radius: 0.5em;
    padding: 0.5em;
}

.error .debug .more .item {
    color: #db3939;
}

.error .debug .more .item::before {
    content: "- ";
}

/* POPUP */

.popup-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-wrap .popup {
    display: grid;
    background: var(--bg-light);
    padding: 1.2em;
    border-radius: 0.5em;
    width: 70vw;
    grid-template-areas: "content content" "button-left button-right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2em;
    gap: 1em;
}

.popup-wrap .popup button {
    width: auto;
    height: auto;
    background: var(--accent);
    color: var(--accent-fg);
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 0.5em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popup-wrap .popup button:hover {
    filter: brightness(94%);
}

.popup-wrap .popup span {
    grid-area: content;
    font-size: 1.2em;
    font-weight: bold;
}

.popup-wrap .popup button.left {
    grid-area: button-left;
}

.popup-wrap .popup button.right {
    grid-area: button-right;
}

.popup-wrap .popup button.wide {
    grid-area: button-right / button-left / button-left / button-right;
}

/* STATS */

.stats {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 1em;
    gap: 1em;
}

.stats .sessions,
.stats .cards {
    background-color: var(--bg-light);
    padding: 1em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}
.stats .cards::before,
.stats .sessions::before {
    content: "Sessions";
    font-weight: bold;
    display: block;
    font-size: 1.4em;
    color: var(--accent);
}
.stats .cards::before {
    content: "Cards";
}

.stats .sessions .session {
    background-color: var(--bg);
    padding: 0.5em;
    border-radius: 0.5em;
}

.stats .sessions .session .size {
    font-weight: bold;
}

.stats .cards .card {
    background-color: var(--bg);
    padding: 0.5em;
    border-radius: 0.5em;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "id score" "label due" "views views";
}

.stats .cards .card .id {
    grid-area: id;
    color: var(--fg-dark);
    font-weight: bold;
}

.stats .cards .card .score {
    grid-area: score;
    justify-self: self-end;
    font-weight: bold;
    font-family: "League Gothic";
    color: var(--accent);
}

.stats .cards .card .label {
    grid-area: label;
    font-weight: bold;
}

.stats .cards .card .due {
    grid-area: due;
    color: var(--fg-dark);
    justify-self: self-end;
}

.stats .cards .card .views {
    grid-area: views;
    display: flex;
    flex-direction: column;
}

.stats .cards .card .views .view {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "rating timestamp";
}

.stats .cards .card .views .view .rating {
    grid-area: rating;
    font-family: "Agbalumo";
}

.stats .cards .card .views .view .timestamp {
    grid-area: timestamp;
    color: var(--fg-dark);
}

/* TOASTS */

.toast-wrap {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    gap: 1em;
}

.toast-wrap .toast {
    --transition: 0.3s;
    background-color: rgba(50, 50, 50, 0.9);
    padding: 1.5em;
    transition: all var(--transition);
    border-radius: 2em;
    animation: var(--transition) toast-appear;
}

@keyframes toast-appear {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 5em;
    }
}
